.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 90px;
  background-color: #fff;
}

.menu {
  font-size: 18px;
}

.menu__list {
  display: flex;
  align-items: center;
  column-gap: 13.75px;
  margin-bottom: 6px;
  list-style: none;
}

.menu__item {
  border-bottom: #000 solid 1px;
}

.menu__link {
  text-decoration: none;
}

.menu__item-active {
  border: none;
}

.menu__circle {
  width: 6px;
  height: 6px;
  border: 0.5px solid #000;
  border-radius: 50%;
}

.header__logo {
  display: block;
  width: 139px;
}

.header__logo-image {
  width: 100%;
}

.header__address {
  justify-self: end;
  max-width: 210px;
}

.address {
  margin-right: 28px;
  margin-bottom: 7px;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
}

.address__link {
  border-bottom: #000 solid 1px;
  text-decoration: none;
}

.cover {
  position: relative;
  z-index: -1;
  padding: 157px 20px 49px 50px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 130%;
}

.cover__title {
  width: 100%;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  line-height: 135px;
  letter-spacing: 30px;
  text-transform: uppercase;

}
.accent-span {
  display: block;
  
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.cover__description {
  display: flex;
  align-items: center;
  gap: 108px;
  margin-top: 94px;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
}

.cover__letter-spacing-extended {
  word-spacing: 18.5px;
}

.cover__button {
  border: #fff solid 1.5px;
  padding: 12px 32px;
  color: #fff;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  padding: 180px 0 0;
}

.lots__title {
  margin-bottom: 27.5px;
  margin-left: 64px;
  color: #000;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;

}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 25px;
  list-style: none;
}

.lots__card-list-item {
  position: relative;
  z-index: -1;
  width: 334px;
  min-height: 596px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 171%;
}

.lots__card-link {
  height: 100%;
  text-decoration: none;
}

.lots__card {
  height: 100%;
}

.card {
  padding: 48px 40px;
}

.card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card__title {
  display: inline;
  border-bottom: #fff solid 1px;
  color: #fff;
  font-size: 22px;
  line-height: 25.75px;
  text-transform: uppercase;
  
}
.card__text {
  color: #fff;
  font-size: 20px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more {
  margin: 30px 65px;
}

.lots__look-more-link {
  border-bottom: #000 solid 1px;
  font-size: 20px;
  text-decoration: none;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  margin: 0 25px;
  padding-top: 80px;
}

.about__column-logo {
  padding: 43px 46px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 61%;
}

.about__column-description {
  padding: 144px 23px;
}

.about__title {
  margin-bottom: 100px;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  max-width: 670px;
  font-size: 20px;
}

.about__text-spacing-extended {
  margin-bottom: 24px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 37px 51px 82px;
}

.footer__address {
  justify-self: start;
  max-width: 240px;
}

.footer__menu .menu__list {
  display: flex;
  flex-direction: column;
}

.links {
  display: flex;
  justify-content: end;
  gap: 47px;
  list-style: none;
}

.links__logo-icon {
  width: 48px;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: -2;
  opacity: 0.6;
  background-color: #000;
}